button.square {
  min-width: 36px;
  padding: 0;

  mat-spinner {
    margin: auto;
  }
}

.mat-button.suffix-icon {
  padding-right: 0.5rem;

  mat-spinner {
    margin: 0 0.25rem;
    padding: 0.125rem 0;
    display: inline-block;
  }
}
