.mat-menu-panel.date-menu {
  overflow: hidden;  

  .mat-menu-content {
    width: 280px;
    padding: 0;

    .label {
      margin-top: 0.75rem;

      .mat-h3 {
        padding-left: 1.25rem;
      }
    }

    .mat-calendar-header {
      padding: 0px 8px 0 8px;

      .mat-calendar-controls {
        display: flex;
        margin: 0 calc(4.7142857143% - 16px) 5%;
      }
    }
  }
}

.mat-menu-panel.group-type-menu {
  button.mat-menu-item.type {
    line-height: unset;

    mark {
      font-size: 12px;
      padding: 2px 3px;
      border-radius: 4px;
      background: rgba($color: #000000, $alpha: 0.14);
      color: rgba($color: #000000, $alpha: 0.54);
      text-overflow: none;
    }
    mark:first-child {
      margin-right: 2px;
    }
    mark + mark {
      margin: 0 2px;
    }
  }
}