.mat-menu-panel.date-menu {
  overflow: hidden;  

  .mat-menu-content {
    width: 280px;
    padding: 0;

    .label {
      margin-top: 0.75rem;

      .mat-h3 {
        padding-left: 1.25rem;
      }
    }

    .mat-calendar-header {
      padding: 0px 8px 0 8px;

      .mat-calendar-controls {
        display: flex;
        margin: 0 calc(4.7142857143% - 16px) 5%;
      }
    }
  }
}

.mat-menu-panel.group-type-menu {
  max-height: 320px;
  overflow: overlay;
  
  .mat-menu-content {
    padding-top: 0;
    

    .filter {
      z-index: 1;
      position: sticky;
      top: 0;
      background: white;

      mat-form-field {
        width: 100%;
      }
    }

    .group {
      padding: 0 16px;
      font-weight: 500;
      font-size: 12px;
      color: #0c2678;
    }
  
    button.mat-menu-item[disabled].type {
      mark {
        background: rgba($color: #000000, $alpha: 0.08);
        color: rgba($color: #000000, $alpha: 0.38);
      }
    }
    button.mat-menu-item.type {
      line-height: unset;

      mark {
        font-size: 12px;
        padding: 2px 3px;
        border-radius: 4px;
        background: rgba($color: #000000, $alpha: 0.14);
        color: rgba($color: #000000, $alpha: 0.54);
        text-overflow: none;
      }
      mark:first-child {
        margin-right: 2px;
      }
      mark + mark {
        margin: 0 2px;
      }
    }
  }
}